[submodule "bridge-lorawan_tx"]
	path = bridge-lorawan_tx
	url = git@github.com:lorabridge/bridge-lorawan_tx.git
[submodule "bridge-forwarder"]
	path = bridge-forwarder
	url = git@github.com:lorabridge/bridge-forwarder.git
[submodule "gateway-converter"]
	path = gateway-converter
	url = git@github.com:lorabridge/gateway-converter.git
[submodule "gateway-device_manager"]
	path = gateway-device_manager
	url = git@github.com:lorabridge/gateway-device_manager.git
[submodule "gateway-forwarder"]
	path = gateway-forwarder
	url = git@github.com:lorabridge/gateway-forwarder.git
[submodule "gateway-ha_integration"]
	path = gateway-ha_integration
	url = git@github.com:lorabridge/gateway-ha_integration.git
[submodule "gateway-home-assistant"]
	path = gateway-home-assistant
	url = git@github.com:lorabridge/gateway-home-assistant.git
[submodule "bridge/bridge-forwarder"]
	path = bridge/bridge-forwarder
	url = git@github.com:lorabridge/bridge-forwarder.git
[submodule "bridge/bridge-lorawan_tx"]
	path = bridge/bridge-lorawan_tx
	url = git@github.com:lorabridge/bridge-lorawan_tx.git
