[submodule "bridge/bridge-forwarder"]
	path = bridge/bridge-forwarder
	url = git@github.com:lorabridge/bridge-forwarder.git
	branch = origin/main
[submodule "bridge/bridge-lorawan_tx"]
	path = bridge/bridge-lorawan_tx
	url = git@github.com:lorabridge/bridge-lorawan_tx.git
	branch = origin/main
[submodule "gateway/gateway-home-assistant"]
	path = gateway/gateway-home-assistant
	url = git@github.com:lorabridge/gateway-home-assistant.git
	branch = origin/main
[submodule "gateway/gateway-ha_integration"]
	path = gateway/gateway-ha_integration
	url = git@github.com:lorabridge/gateway-ha_integration.git
	branch = origin/main
[submodule "gateway/gateway-forwarder"]
	path = gateway/gateway-forwarder
	url = git@github.com:lorabridge/gateway-forwarder.git
	branch = origin/main
[submodule "gateway/gateway-device_manager"]
	path = gateway/gateway-device_manager
	url = git@github.com:lorabridge/gateway-device_manager.git
	branch = origin/main
[submodule "gateway/gateway-converter"]
	path = gateway/gateway-converter
	url = git@github.com:lorabridge/gateway-converter.git
	branch = origin/main
[submodule "bridge/bridge-device-sse"]
	path = bridge/bridge-device-sse
	url = git@github.com:lorabridge/bridge-device-sse.git
	branch = origin/main
[submodule "bridge/bridge-device-interface"]
	path = bridge/bridge-device-interface
	url = git@github.com:lorabridge/bridge-device-interface.git
	branch = origin/main
[submodule "bridge/bridge-lcd-ui"]
	path = bridge/bridge-lcd-ui
	url = git@github.com:lorabridge/bridge-lcd-ui.git
	branch = origin/main
