CHIRP_TOPIC=application/1/device
MQTT_USERNAME=lorabridge
MQTT_PASSWORD=lorabridge
MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_TOPIC=zigbee2mqtt
INTERVAL_MS=1000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_LIST=lorabridge_data

DEV_MAN_TOPIC=devicemanager
DEV_DISCOVERY_TOPIC=lorabridge/discovery
DEV_STATE_TOPIC=lorabridge/state

CHIRPSTACK_DEV_EUI=\x0000000000000000
CHIRPSTACK_DEV_KEY=\x00000000000000000000000000000000