[Unit]
Description=packet forwarder
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=30
WorkingDirectory=/etc/lora-gateway
ExecStartPre=/usr/bin/reset_lgw.sh start 
ExecStart=/usr/bin/lora_pkt_fwd
ExecStopPost=/usr/bin/reset_lgw.sh stop

[Install]
WantedBy=multi-user.target
