MQTT_USERNAME=lorabridge
MQTT_PASSWORD=lorabridge
MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_TOPIC=zigbee2mqtt
MQTT_SUB_TOPIC=lorabridge
INTERVAL_MS=1000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_LIST=lorabridge_data

LORA_DEV_EUI=0000000000000000
LORA_DEV_KEY=00000000000000000000000000000000

BASIC_AUTH='admin:$2y$05$/RJyPV9FTm/3iyH2krrvzOBvdX5EwxR8xYz64L8BsowgDMcvPjKu6'